/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$naranja: #FF8000;
$verde: #2E5F64;

div {
    padding: 20px;

    &#primero .destacado {
        color: $naranja;
        font-size: 1.6em;
        text-align: center;
        padding: 6px;
    }
    
    &#segundo {
        p:not(.destacado)::first-line {
            font-style: italic;
        }
        .destacado {
            color: $verde;
            font-size: 1.4rem;
            text-decoration: underline;
            padding: 5px;
        }
        #parrafos {
            text-align: right;
        }
    }
}