/* Error: $map: "chetwode_blue" #a7afec, "nobel" #d1d1d1, "mine_shaft" #7a7a7a, "white" white, "white_30" rgba(255, 255, 255, 0.3), "gray" #b3b3b3, "endeavour" #3898ff, "moody_blue_80" rgba(164, 172, 230, 0.8), "dorado" #999999, "dove_gray" #a3a3a3, "gray_brown" #b8b8b8, "mercury" #f0f0f0, "boulder" #afafaf, "martini" #c2c2c2, "silver_10" rgba(224, 224, 224, 0.1) is not a map.
 *   ,
 * 5 |     color: map.get($colores, "nobel");
 *   |            ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss/_header.scss 5:12  @import
 *   scss/style.scss 8:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $map: "chetwode_blue" #a7afec, "nobel" #d1d1d1, "mine_shaft" #7a7a7a, "white" white, "white_30" rgba(255, 255, 255, 0.3), "gray" #b3b3b3, "endeavour" #3898ff, "moody_blue_80" rgba(164, 172, 230, 0.8), "dorado" #999999, "dove_gray" #a3a3a3, "gray_brown" #b8b8b8, "mercury" #f0f0f0, "boulder" #afafaf, "martini" #c2c2c2, "silver_10" rgba(224, 224, 224, 0.1) is not a map.\a   \2577 \a 5 \2502      color: map.get($colores, "nobel");\a   \2502             ^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss/_header.scss 5:12  @import\a   scss/style.scss 8:9     root stylesheet';
}
