@keyframes animation {
    0% {
        background-image: url("https://krdo.b-cdn.net/2020/08/080220-FILE-RED-FOX.jpg");
    }
    100% {
        background-image: url("https://krdo.b-cdn.net/2020/08/080220-FILE-RED-FOX.jpg");
    }
}

body {
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    width: 20%;
}

li {
    list-style-type: none;
}

img {
    margin: 20px;
    width: 200px;
}

#main-img {
    width: 600px;
}

img:hover #main-img {
    opacity: 0;
}