<!doctype html>
<html>
    <head>
        <title>
            Libros
        </title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/estilos.css"/>
    </head>
    <body>
        <div class="container">
            <h1>Ficha del libro</h1>
            <ul>
                <li><strong>Titulo:</strong> {{libro.titulo}}</li>
                <li><strong>Editorial:</strong> {{libro.editorial}}</li>
                <li><strong>Precio:</strong> {{libro.precio}}</li>
            </ul>
        </div>
    </body>
</html>