#informacion-header {
    font-family: $font_1;
    font-size: 12px;
    line-height: 1.8;
    color: map.get($colores, "nobel");
    margin: 0;
    padding: 0;
    display: flex;
    background-color: map.get($colores, "mine_shaft");

    div {
        color: map.get($colores, "white");
        display: flex;

        :first-child {
            flex: auto;
        }

        :nth-child(2) {
            flex: none;
            border-left: 1px solid map.get($colores, "white")_30;
        }

        * {
            padding: 10px 20px;
        }

        :not(:first-child) {
            flex: none;
            border-right: 1px solid map.get($colores, "white")_30;
        }

        a:hover {
            color: map.get($colores, "chetwode_blue");
            cursor: pointer;
        }
    }
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;

    ul {
        list-style-type: none;
        margin-bottom: 0 !important;
    }

    a {
        display: flex;
        align-items: center;
        height: 65%;
        margin-right: 55px;

        img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
            border-style: none;
        }
    }

    #icons {
        margin: 0 10px;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        display: flex;

        li {
            margin: 0 10px;

            a {
                text-decoration: none;
                color: map.get($colores, "mine_shaft");

                &:hover {
                    text-decoration: none;
                    color: map.get($colores, "mine_shaft");
                }
            }
        }
    }

    #items {
        font-family: $font_6;
        display: flex;
        align-items: center;
        height: 100%;

        li {
            margin: 0 10px;

            a {
                font-family: $font_6;
                font-size: 14px;
                padding: 5px;
                color: map.get($colores, "mine_shaft");
                @include transition(all);
                text-decoration: none;
            }

            &:hover .dropdown>a {
                color: map.get($colores, "chetwode_blue");
            }
        }
    }
}

#nav-contenedor {
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: transparent;
}

header {
	border-bottom: 1px solid map.get($colores, "gray");
}