<form class="mt-4" (ngSubmit)="addProduct()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" [(ngModel)]="newProduct.title"
      placeholder="Product you are selling">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" [(ngModel)]="newProduct.description" rows="3"
      placeholder="Write something..."></textarea>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" step="0.01" class="form-control" name="price" id="price" [(ngModel)]="newProduct.price"
      placeholder="Price">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" name="category" [(ngModel)]="newProduct.category" class="form-control">
      <option value="0" selected>Choose a category...</option>
      <option value="1">Electronics</option>
      <option value="2">Motor and vehicles</option>
      <option value="3">Sports and hobbies</option>
      <option value="4">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="image">Main photo</label>
    <input type="file" class="form-control" id="image" name="image" #fileImage (change)="changeImage(fileImage)"
      [(ngModel)]="photoFile">
  </div>
  <img [src]="newProduct.mainPhoto" class="img-thumbnail">

  <div class="row">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary btn-lg">Create</button>
    </div>

  </div>
</form>
