<sp-product-form (add)="addProduct($event)"></sp-product-form>
<nav class="navbar navbar-light bg-light justify-content-between mt-4">
    <form class="form mb-0 w-100">
        <input class="form-control" type="text" name="search" [(ngModel)]="search" placeholder="Search"
            aria-label="Search" />
    </form>
</nav>
<div id="productsContainer" class="card-columns mb-4">
    <sp-product-card class="card shadow" [product]="product" *ngFor="let product of products | productsFilter:search" (deleted)="deleteProduct(product)"></sp-product-card>
</div>