@import "menu";
@import "mixin";

@keyframes iluminar {
    from {
        @include colors();
    }

    to {
        @include colorsHover();
    }
}

footer {
    @include colors();
    @include boxSizing(border-box);
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    padding-top: 12px;
    padding-right: 30px;
    font-size: 1.8em;
    background-color: $text;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}